includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src

    # Assicura la comprensione dei helper Laravel
    bootstrapFiles:
        - tests/bootstrap.php
